@page
@model ChinaExpress.Web.Pages.ReferralsModel
@{
    ViewData["Title"] = "Referral Points";
}
<style>
    .redeem-btn{
        background: linear-gradient(90deg, rgba(213, 113, 40, 1) 0%, rgba(117, 28, 171, 1) 100%) !important;
    }

    .my-points-box{
        padding: 30px;
        background:#E9FFFF;
        width: 20%;
        border-radius: 5px;
    }

    .points{
        color: #5C1F68;
        font-size: 40px;
    }

    .steps-holder{
         padding: 20px;
        width: 80%;
        background:#E9FFFF;
        border-radius: 5px;
    }
    .icon-holder{
        padding: 10px;
        border-radius: 50%;
        color: rgba(117, 28, 171, 1);
        background: rgba(213, 113, 40, 1);
        width: 65px;
        font-size: 30px;
    }
</style>
<section class="page-content align-items-center text-center">
    
    <div class="my-points-box text-center text-bold m-auto">
        <h2>MY POINTS</h2>
        <h3 class="points">> @Model.ReferralPoints < </h3>
        <h4 class="text-secondary">~ @((Model.ReferralPoints / 10m).ToString("f2")) $</h4>
        
        <div class="spinner-border spinner" style="display: none" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    
        @if (Model.ReferralPoints > 0)
        {
            <button class="btn btn-primary redeem-btn">USE POINTS</button>
        }
        else
        {
            <p>Earn some points in order to redeem them.</p>
        }
    </div>

  <br/>
    <p style="font-size: 25px;">INVITE YOUR FRIENDS AND WIN 100 POINTS!</p>
  <input type="text" disabled value="@Model.ReferralLink" style="width: 30%;"/>
  
  <br/>
  <br/>
    
  <p style="font-size: 25px;">Want to earn more points?</p>
  
  
  <div class="steps-holder d-flex justify-content-evenly align-items-center m-auto text-bold ">
      <div class="d-flex flex-column align-items-center fb-30">
          <div class="icon-holder"><i class="fa-regular fa-hand-pointer"></i></div>
          <p>Select Items</p>
      </div>
      <div class="d-flex flex-column align-items-center fb-30">
          <div class="icon-holder"><i class="fa-solid fa-basket-shopping"></i></div>
          <p>Complete Order</p>
      </div>
      <div class="d-flex flex-column align-items-center fb-30">
          <div class="icon-holder"><i class="fa-solid fa-ticket"></i></div>
          <p class="w-55">Receive points based on the total price</p>
      </div>
  </div>

    
    
    
    
    
</section>

<script>
$(document).on("click", ".redeem-btn", function(){
    $.ajax({
    type: "GET",
    url: "/RedeemReferralPoints",
    success: function (response) {
    $(".spinner").hide();
    $(".redeem-btn").show();

    debugger;
        Swal.fire(
            'Success! You have redeemed your points!',
            `Use the code <b>${response}</b> to get a discount on your next order!`,
            'success'
        ).then(() => window.location.href = '/Order');
    },
    error: function (event, jqxhr, settings, thrownError) {
        if (event.status != 200) {
            $(".spinner").hide();
            $(".redeem-btn").show();

            Swal.fire(
                'Error!',
                event.responseText.split(': ')[1].split("\r\n")[0],
                'error'
            );
        }
       }
    });
});
</script>